<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<ul>
	<li>
		<ul>
			<h2>Тековна Состојба</h2>
			<li>Dolg: {{current_user.AccountBalance.Owns}} </li>
			<li>Zaem: {{current_user.AccountBalance.Requests}} </li>		
		</ul>
	</li>
	
	<li>
		<ul>
			<h2>Линкови</h2>
			<li><a href="{% url UserTransactionListHandler %}">Листа на Долгови</a></li>
			<li><a href="{% url AddTransactionHandler %}">Додади Долг</a></li>
		</ul>
	</li>
	{% if financial_cards %}
	<li>
		<ul>
			<h2>Финансови картици</h2>
			{%for c in financial_cards %}
			<li>
				<a href="{% url FinancialCardHandler %}?UserKey={{c.ReferentEntity.key}}" > a {{c.ReferentEntity.Name}} {{c.ReferentEntity.Surname}} </a> 
			</li> 
			{%endfor%}
			
		</ul>
	</li>
	{%endif%}
</ul>